{% extends 'todo/base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center mt-5">
    <h1>Your own Todo Manager.</h1>
    <p class="mt-3 mb-4">Life is fun. But it's also busy. There's a million different things you could be doing. But
        what <br>
        matters is what you do. We created this system to help you make the most out of all your <br>opportunities
        and
        live that life that matters most to you. Your new organized life awaits.</p>
    <a href="{% url 'log' %}" class="btn-lg btn-primary">Start</a>
</div>

{% endblock content %}