{% extends 'todo/base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">

        <h1 class="mt-5">{{current.count}} Current Todo{{current.count|pluralize}}</h1>

        <ul class="list-group mt-4">
            {% for todo in current %}

            {% if todo.importance %}
            <a class="list-group-item list-group-item-action list-group-item-warning" href="{% url 'detail' todo.id %}">
                <b>{{todo.title}}</b>
                {% if todo.memo %}
                - {{todo.memo|truncatechars:12}}
                {% endif %}
            </a>

            {% else %}
            <a class="list-group-item list-group-item-action" href="{% url 'detail' todo.id %}">
                <b>{{todo.title}}</b>
                {% if todo.memo %}
                - {{todo.memo|truncatechars:12}}
                {% endif %}
                {% endif %}
            </a>
            {% endfor %}
        </ul>

        <br>

        <h1 class="mt-5">{{done.count}} Completed Todo{{done.count|pluralize}}</h1>

        <ul class="list-group mt-4">
            {% for todo in done %}

            {% if todo.importance %}
            <a class="list-group-item list-group-item-action list-group-item-warning" href="{% url 'detail' todo.id %}">
                <b>{{todo.title}}</b>
                <small class="form-text text-muted">{{todo.completeDate|date:'j/m/Y, H:i'}}</small>
            </a>

            {% else %}

            <a class="list-group-item list-group-item-action" href="{% url 'detail' todo.id %}">
                <b>{{todo.title}}</b><br>
                <small class="form-text text-muted">{{todo.completeDate|date:'j/m/Y, H:i'}}</small> 
            </a>

            {% endif %}

            {% endfor %}
        </ul>

    </div>
</div>
{% endblock content %}